# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
.venv

# Environment files
.env

# Logs and databases
*.log
*.sqlite3

# Build & test artifacts
.cache/
.pytest_cache/
.mypy_cache/
dist/
build/

# IDE files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
